<div class="side-bar">
  <h3 class="text-center mt-5 mb-5">API REST</h3>
  
  <ul class="side-bar__list">
    <li>
      <div class="list-wrapper-item"> 
        <i class="fa-solid fa-house-user mx-4"></i>
        <a class="side-bar__list list-label">Usuarios</a>
      </div>
    </li>

    <li class="my-4">
      <div class="list-wrapper-item"> 
        <i class="fa-solid fa-users mx-4 "></i>
        <a class="side-bar__list list-label">Crear Usuario</a>
      </div>
    </li>

  </ul>
  <div class="side-bar__separator"></div>
</div>